textarea ,input{
    background-color: #f6f6f6;
    border-bottom: 1px solid rgb(228, 228, 228);
    resize: none;
    padding: 2rem;
    color: #5d5d5d ;
}

textarea:focus,input {
    outline:1px solid rgb(228, 228, 228);
}