<div class="w-[90%] sm:w-[80%] mx-auto">
  <p class="text-xl font-semibold mb-8">Today's Activities</p>
  <div
    *ngIf="activities.length > 0; else noactivity"
    class="grid grid-cols-1 sm:grid-cols-2 gap-2 sm:gap-5 rounded-md"
  >
    <div
      *ngFor="let activity of activities"
      class="bg-gradient-to-br from-[#d490e76d] to-[#a3b5e9] p-4 mb-1 rounded-lg flex justify-between items-center"
    >
      <p class="font-semibold text-gray-700">{{ activity.title }}</p>
      <p class="font-semibold text-gray-700">{{ activity.duration }}</p>
    </div>
  </div>
  <ng-template #noactivity>
    <p>No activities</p>
  </ng-template>
</div>
