<div
  class="w-[100%] h-screen flex flex-col justify-center items-center bg-[#f6f6f6] relative"
>
  <form #form="ngForm" class="w-2/6 relative" (ngSubmit)="submitform(form)">
    <h1 class="text-2xl my-5 font-bold">Forgot Password ?</h1>
    <div class="flex flex-col my-10">
      <label for="email" class="text-[1.1rem] mb-2 font-medium">Email</label>
      <input
        #email="ngModel"
        type="email"
        required
        ngModel
        name="email"
        required
        placeholder="@gmail.com"
        class="form-control"
      />
      <div
        *ngIf="(email.touched && email.invalid) || status == 'invalid'"
        class="mt-1 text-red-600"
      >
        <p *ngIf="email.errors?.['required']">Please enter your email</p>
      </div>
    </div>

    <input
      class="bg-black cursor-pointer text-white px-5 py-2 rounded-md font-semibold text-center mx-auto"
      type="submit"
      value="Submit"
    />
  </form>
</div>
