
<div class="h-screen pt-[4rem] flex relative bg-[#f6f6f6]">
  <app-nav class="w-[20%]"></app-nav>
  <div class="w-[80%] min-h-full py-5 relative overflow-y-scroll scroll-smooth">
    <div class="w-[80%] post mx-auto">
      <input
        class="w-full"
        type="text"
        placeholder="Write your title...."
        name="title"
        id=""
        [(ngModel)]="title"
      />
      <textarea
        [(ngModel)]="content"
        class="w-full textarea"
        placeholder="Write your post..."
        name="content"
        id=""
        cols="30"
        rows="4"
      ></textarea>
      <button
        (click)="addPost()"
        class="text-white my-5 ml-5 p-2 px-4 rounded-full shadow-sm bg-[#4888d2]"
      >
        Add Post
      </button>
    </div>
    <div
      class="w-[80%] post mx-auto py-1 px-4"
      *ngFor="let content of contents[0]"
    >
      <div class="my-2">
        <h1 class="text-[1rem] font-medium text-[#4888d2]">
          @{{ content.owner.name }}
        </h1>
        <h1 class="text-[1rem] font-bold">{{ content.title }}</h1>
        <p class="font-extralight text-[#5d5d5d] py-1">
          {{ content.content }}
        </p>
      </div>
      <div class="mt-3">
        <button (click)="goComments(content)" class="flex">
          <img
            src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAYAAACpSkzOAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAy0lEQVR4nO1VwQrCMAzNSbzp2fM2sZc2SdMd+/9/JRlmDEVlsx0IffCgBJpHXksewJ5wzh0QsSMiZuZUgkTEIYQ+53ycRPTAzFRKgF9JOgiM49hrQUSGqVDQJREZtLe6BWZXSRGD9jQbwUaESmDr34TWgpt1W8HNup+to71WUAih2lKNMV7npfopJhDxZhf1vDUmsmXSl+A7Pbg6+BCxm0XeAREvekHzyjJLa6WsffZYlqzxYSbYJDYZ1IL3/rx8K6iJlJJTVhWBf8QdwiaRxgMoYzoAAAAASUVORK5CYII="
          />
          <p class="ml-2">{{ content.comments.length }}</p>
        </button>
      </div>
    </div>
  </div>
</div>
