<div class="w-[100%] min-h-screen pt-[6rem] bg-[#f6f6f6] relative">
  <div
    class="w-[90%] sm:w-[80%] mx-auto flex-col sm:flex-row flex justify-around items-center sm:h-[40vh] bg-[#ffffff] relative shadow-lg"
  >
    <div class="h-[50%] sm:p-0 p-5 sm:h-full flex flex-col justify-center">
      <p class="text-xl z-10 text-white my-2 sm:my-4 sm:text-3xl font-semibold">
        Hey there,
        {{
          user.name.split(" ")[0].charAt(0).toUpperCase() +
            user.name.split(" ")[0].slice(1).toLowerCase()
        }}!
      </p>
      <!-- <div>
        <p class="mb-4">Activities completed</p>
        <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
      </div> -->
      <p class="z-10 text-white text-[.8rem] sm:text-[1rem]">
        <i>“Tough times never last, but tough people do!” — Robert Schuller</i>
      </p>
    </div>
    <div class="z-10">
      <img
        class="w-[80%] sm:w-full mx-auto"
        src="../../assets/guitar.png"
        alt=""
      />
    </div>
    <div
      class="absolute top-0 right-0 w-full bg-slate-700 h-full sm:h-[40vh]"
    ></div>
  </div>

  <app-songs></app-songs>

  <app-activity></app-activity>
  <div *ngIf="stories.length > 0; else nostory" class="w-[80%] py-10 mx-auto">
    <carousel
      class="border rounded-md"
      [objectFit]="'cover'"
      [cellWidth]="'100%'"
      [height]="300"
      [autoplay]="true"
      [dots]="true"
      [loop]="true"
    >
      <div
        *ngFor="let story of stories"
        class="carousel-cell flex justify-center items-center"
      >
        <div class="w-[80%]">
          <p class="text-[1.2rem] text-blue-600">@{{ story.owner.name }}</p>
          <p class="inline">{{ story.story.slice(0, 800) }}</p>
          <a
            routerLink="/singlestory/{{ story._id }}"
            class="inline text-blue-600"
            *ngIf="story.story.length > 800"
            >read more...</a
          >
        </div>
      </div>
    </carousel>
  </div>
  <ng-template #nostory
    ><h1 class="text-center py-10">No stories....</h1></ng-template
  >
</div>
