input[type="text"],input[type="number"],input[type="email"] ,input[type="password"],textarea {
    background-color: #f8f8f8;
    border-radius: 5px;
    padding: .5rem 1rem;
}

.title {
    transform: translate(-50%,-50%);
    font-size: 3rem;
}
::placeholder { 
    
    opacity: .5; 
  }