<div
  class="min-h-screen w-full flex relative flex-col pt-[2rem] items-center bg-[#f6f6f6]"
>
  <div
    *ngIf="popup"
    class="z-50 w-full h-full fixed bottom-0 bg-[#00000058] flex justify-center items-center"
  >
    <div
      class="w-[45%] p-5 h-[200px] rounded-md bg-[#f6f6f6] flex flex-col justify-center items-center"
    >
      <h1 class="mb-5">Complete this meet?</h1>
      <div class="w-full flex justify-center items-center">
        <button
          (click)="completeMeet()"
          class="w-[30%] text-white bg-green-600 mr-3 rounded-lg py-2 px-3 my-3"
        >
          Yes
        </button>
        <button
          (click)="popup = false"
          class="w-[30%] text-white bg-green-600 rounded-lg py-2 px-3 my-3"
        >
          No
        </button>
      </div>
    </div>
  </div>
  <div class="my-4">
    <a
      routerLink="/doctordashboard"
      class="px-4 py-2 m-2 text-white bg-blue-500 rounded-full"
      >Requests</a
    ><a
      routerLink="/meets"
      class="px-4 py-2 m-2 text-white bg-blue-500 rounded-full"
      >Meets</a
    >
  </div>
  <div class="w-[70%] mx-auto justify-center">
    <ng-container *ngIf="requests.length > 0; else nomeet">
      <div
        *ngFor="let request of requests"
        class="flex flex-col items-center justify-center shadow-sm bg-white mt-3 p-4"
      >
        <h1 *ngIf="request.completed" class="w-[90%] font-medium text-gray-700">
          Your scheduled Meeting with
          <span>{{ request.user.name }}</span> on
          <span class="text-red-600">{{ request.meet_time }}</span> is over
        </h1>
        <h1
          *ngIf="request.completed == false"
          class="w-[90%] pb-3 font-medium text-gray-700"
        >
          Meeting has been scheduled
          <span class="text-blue-600">{{ request.meet_time }}</span> with
          <span>{{ request.user.name }}</span>
        </h1>
        <div *ngIf="request.completed == false" class="w-[90%]">
          <a
            routerLink="/doctormeet/{{ request.link }}"
            class="py-2 px-4 text-sm rounded-full bg-green-500"
            >Join meet</a
          >
          <button
            (click)="popup = true; currentMeet = request"
            class="ml-6 py-2 px-4 rounded-full text-sm bg-blue-600 text-white"
          >
            Mark as Complete
          </button>
          <!-- <button class="py-2 px-4 ml-4 rounded-full bg-gray-200">x</button> -->
        </div>
      </div>
    </ng-container>
    <ng-template #nomeet class="mx-auto">
      <h1 class="text-center my-4">Currently no meet has been scheduled</h1>
    </ng-template>
  </div>
</div>
