<div
  class="z-50 w-full h-full hidden fixed bottom-0 bg-[#00000058] left-0 justify-center items-center"
  #cardElement
>
  <div class="p-5 w-[60%] flex flex-col items-center bg-[#f6f6f6]">
    <label class="w-full">
      Card details
      <!-- placeholder for Elements -->
      <div id="card-element" class="field"></div>
    </label>
    <button
      type="submit"
      class="py-2 mx-auto px-4 rounded-full bg-green-500"
      (click)="sendPayment()"
    >
      Pay ₹{{ currentRequest.doctor.fee }}
    </button>
  </div>
</div>
<div
  *ngIf="ratingPopup"
  class="z-50 w-full h-full fixed bottom-0 left-0 bg-[#00000058] flex justify-center items-center"
>
  <div
    class="w-[45%] p-5 relative rounded-md bg-[#f6f6f6] flex flex-col justify-center items-center"
  >
    <span class="absolute right-5 top-5 text-xl font-bold">X</span>
    <h1 class="">Write a review</h1>
    <ngx-star-rating [(ngModel)]="rating"></ngx-star-rating>
    <textarea
      class="w-full"
      [(ngModel)]="ratingDescription"
      rows="5"
    ></textarea>
    <button
      (click)="createReview()"
      class="w-[30%] text-white bg-green-600 rounded-lg py-2 px-3 my-3"
    >
      Add Review
    </button>
  </div>
</div>
<div class="min-h-screen w-full flex relative">
  <div class="w-full mx-auto justify-center">
    <div
      *ngFor="let request of requests"
      class="shadow-sm flex bg-white mt-3 p-4"
    >
      <div
        class="flex w-full justify-between items-center"
        *ngIf="request.accepted && !request.completed"
      >
        <h1 class="py-2 font-medium text-gray-700">
          Meeting has been scheduled
          <span class="text-blue-600">{{ request.meet_time }}</span> with doctor
          <span>{{ request.doctor.name }}</span>
        </h1>
        <button
          *ngIf="request.paid"
          [disabled]="currentDate < request.time"
          [ngClass]="currentDate < request.time ? 'disabled' : 'enabled'"
          (click)="checkPay(request)"
          class="py-2 px-4 rounded-full bg-green-500"
        >
          Join meet
        </button>
        <button
          *ngIf="!request.paid"
          (click)="checkPay(request)"
          class="py-2 px-4 rounded-full bg-blue-500 text-white"
        >
          Pay
        </button>
      </div>
      <div *ngIf="!request.accepted && !request.completed">
        <h1 class="py-2 font-medium text-gray-700">
          Meet request has been sent to doctor
          <span>{{ request.doctor.name }}</span>
        </h1>
      </div>
      <div
        *ngIf="request.completed"
        class="w-full flex shadow-sm justify-between items-center"
      >
        <h1 class="py-2 font-medium text-gray-700">
          Your scheduled Meet with
          <span>{{ request.doctor.name }}</span> at
          <span class="text-blue-600">{{ request.meet_time }}</span> is over
        </h1>
        <button
          (click)="ratingPopup = true; currentRequest = request"
          class="py-2 px-4 rounded-full bg-orange-600 text-white"
        >
          Write a review
        </button>
      </div>
    </div>
  </div>
</div>
